###############################################################################
# Set behavior for the ISO-639-2 file
###############################################################################
ISO-639-2_utf-8.txt text eol=lf